.git
.vsconfig
.gemini
# .agents
# .antigravity
# .antigravityignore
.github
.vs
.vscode
# artifacts

acli.exe

# .clinerules
# .cursorrules
.env
# .windsurfrules
# AGENTS.md
# CLAUDE.md
# CONTEXT.md

*.csproj
*.sln

/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/Assets/_Recovery/